@font-face {
    font-family: 'Nanum Gothic';
    font-style: normal;
    font-weight: normal;
    src: url(NanumGothic-Regular.ttf) format('ttf');
}

body {
    font-family: 'Nanum Gothic', sans-serif;
}

.header {
    width: 800px;
    margin: 0 auto;
    padding-top: 40px;
}

    .header .logo {
        content: url('../assets/fininlogo.png');
        width: 25%;
        height: auto;
    }

    .header .title {
        text-align: center;
    }

    .header .title h1 {
        font-size: 35px;
    }

.content {
    width: 750px;
    margin: 0 auto;
}

.divi-line {
    border: 2px solid black;
}

.content h1 {
    font-size: 22px;
}

.content h5 {
    margin-top: 0px;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 50px;
}

.content table {
    width: 100%;
    border-collapse: collapse;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
    .content table td {
        border-top: 3px solid rgba(187, 187, 187, 0.185);
        border-bottom: 3px solid rgba(187, 187, 187, 0.185);
        margin: 3% 0;
        height: 45px;
    }

    .content table .br-black td {
        border-top: 3px solid rgba(0, 0, 0, 0.658);
    }

    .content table .br-black-end td {
        border-bottom: 3px solid rgba(0, 0, 0, 0.658);
    }

    .content table .td-1 {
        width: 20%;
    }

    .content table .td-2 {
        width: 80%;
    }

    .content table td {
        text-align: left;
    }

.caution {
    width: 50%;
    margin: 20px auto;
    font-size: 20px;
}

    .caution li {
        padding: 5px;
        list-style: none;
        font-size: 20px;
    }

.blank{
    text-align:center;
}

.stemp {
    content: url('../assets/stamp.png');
    width: 20%;
    height: auto;
    vertical-align: middle;
}

.caution .bot {
    margin-top: -25px;
}