@font-face {
    font-family: 'Nanum Gothic';
    font-style: normal;
    font-weight: normal;
    src: url(NanumGothic-Regular.ttf) format('ttf');
}

body {
    font-family: 'Nanum Gothic', sans-serif;
}

.header {
    width: 800px;
    margin: 0 auto;
    padding-top: 40px;
}

    .header .title {
        text-align: center;
    }

        .header .title h1 {
            font-size: 30px;
        }

    .header .explane p {
        margin: 5px 0;
        font-size: 22px;
    }

.content {
    width: 800px;
    margin: 0 auto;
}

    .content h1 {
        font-size: 25px;
    }

    .content h5 {
        margin-top: 0px;
        font-size: 20px;
        font-weight: 300;
        margin-bottom: 50px;
        float: right;
    }

    .content table {
        width: 100%;
        border-collapse: collapse;
        font-size: 20px;
        text-align: center;
    }

    .content table td {
        border: 1px solid black;
    }

    .content table .price-line {
        text-align: right;
    }

.caution {
    margin: 20px 0;
    font-size: 20px;
}
    .caution li {
        padding: 10px;
    }

    .caution .account-number {
        margin-top: 0;
        margin-bottom: 20px;
        font-weight: bold;
        font-size: 20px;
        background-color: #ffff0b;
    }

#bg-grey {
    background-color: #ebebeb;
}

#bg-lightyellow {
    background-color: #fff5c1;
}

#bg-yellow {
    background-color: #ffff0b;
}